<div class="min-h-screen p-4">
  <h1 class="text-4xl font-bold text-center">Churros<br />Dos hermanos</h1>
  <div class="flex justify-center">
    <img
      src="../../../assets/logo-home.png"
      alt=""
      class="w-72"
    />
  </div>
  <h3 class="text-xl font-semibold text-center mb-8">
    Seleccioná el tipo de churro que querés comprar
  </h3>
  <div class="flex justify-center gap-4 xl:gap-8 mx-4">
    <a [routerLink]="['/cantidad', 'simple']">
      <div
        class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl transform hover:scale-105 transition-transform duration-200 ease-in-out cursor-pointer hover:bg-[#e5dacb] active:bg-[#dbc8b6] h-full"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/churros-administrator.appspot.com/o/simples.png?alt=media&token=88295da0-482b-48d6-99ba-53f7f550c31e"
          alt="Churros simples"
          class="w-52 rounded-xl"
        />
        <h1 class="font-bold text-xl xl:text-2xl mt-2">CHURROS</h1>
        <h2 class="font-semibold">Simples</h2>
      </div>
    </a>
    <a [routerLink]="['/cantidad', 'dulce']">
      <div
        class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl transform hover:scale-105 transition-transform duration-200 ease-in-out cursor-pointer hover:bg-[#e5dacb] active:bg-[#dbc8b6] h-full"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/churros-administrator.appspot.com/o/dulcedeleche.png?alt=media&token=8c326463-c25c-40ac-a508-a0acaf034a72"
          alt="Churros con dulce de leche"
          class="w-52 rounded-xl"
        />
        <h1 class="font-bold text-xl xl:text-2xl mt-2">CHURROS</h1>
        <h2 class="font-semibold xl:text-xl text-center">con Dulce de leche</h2>
      </div>
    </a>
  </div>
</div>
