<div class="min-h-screen p-4 mt-8">
  <h3 class="text-3xl font-semibold text-center mb-8">
    Seleccioná el tipo de churro que querés comprar
  </h3>
  <div class="flex justify-center gap-4 xl:gap-8 mx-4">
    <a [routerLink]="['/cantidad', 'simple']">
      <div
        class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl transform hover:scale-105 transition-transform duration-200 ease-in-out cursor-pointer hover:bg-[#e5dacb] active:bg-[#dbc8b6] h-full"
      >
        <img
          src="../../../assets/images/simples-_1_.webp"
          alt="Churros simples"
          class="w-52 rounded-xl"
          width="623px"
          height="624px"
        />
        <h1 class="font-bold text-xl xl:text-2xl mt-2">CHURROS</h1>
        <h2 class="font-semibold">Simples</h2>
      </div>
    </a>
    <a [routerLink]="['/cantidad', 'dulce']">
      <div
        class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl transform hover:scale-105 transition-transform duration-200 ease-in-out cursor-pointer hover:bg-[#e5dacb] active:bg-[#dbc8b6] h-full"
      >
        <img
          src="../../../assets/images/dulcedeleche-_1_.webp"
          alt="Churros con dulce de leche"
          class="w-52 rounded-xl"
          width="623px"
          height="624px"
        />
        <h1 class="font-bold text-xl xl:text-2xl mt-2">CHURROS</h1>
        <h2 class="font-semibold xl:text-xl text-center">con Dulce de leche</h2>
      </div>
    </a>
  </div>
</div>
