<header
  class="px-4 md:px-16 fix-header bg-[#fdf6e3] border-b-4 border-[#290200]"
>
  <nav class="flex items-center">
    <a href="/" class="flex items-center">
      <div>
        <img
          elementtiming="nbf-header-logo-desktop"
          src="../../../assets/logo-home.png"
          alt="dartdental logo"
          style="display: block"
          fetchpriority="high"
          loading="eager"
          decoding="async"
          data-loader="raw"
          class="w-24"
        />
      </div>
    </a>
    <div class="ms-auto">
      <div class="flex gap-8 items-center">
        <a
          href="nuevo-pedido"
          class="bg-[#290200] font-semibold text-white p-4 cursor-pointer rounded-md"
          >¡Pedir Ahora!</a
        >
      </div>
    </div>
  </nav>
</header>
