<div class="flex flex-col items-center">
  <h3 class="text-center text-4xl my-8 font-bold">
    Revisar y confirmar pedido
  </h3>
  <div class="flex flex-col xl:flex-row gap-8 xl:mb-8 mx-8">
    <div
      class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl"
    >
      <img
        [src]="pedidoReview.imageChurroURL"
        alt="Churros con dulce de leche"
        class="w-52 rounded-xl"
        width="623px"
        height="624px"
      />
      <h1 class="font-bold text-2xl mt-2 text-center">{{pedidoReview.totalChurros}} {{pedidoReview.type === 'dulce' ? 'Churros con Dulce de leche' : 'Churros simples'}}</h1>
      <h2 class="font-semibold text-2xl">${{pedidoReview.totalPrice}}</h2>
    </div>
    <div
      class="bg-[#f3ebde] rounded-xl flex flex-col items-center p-4 shadow-xl my-4 xl:my-0 max-w-96"
    >
      <h2 class="text-center text-xl font-bold">Datos del Envío</h2>
      <ul>
        <li class="my-2">
          <p>Nombre: <strong>{{pedidoReview.clientName}}</strong></p>
        </li>
        <li class="my-2">
          <p>Dirección: <strong>{{pedidoReview.clientAddress}}</strong></p>
        </li>
        @if(pedidoReview.aditionalInfoAddress){
          <li class="my-2">
            <p class="text-wrap">
              Datos adicionales: <strong>{{pedidoReview.aditionalInfoAddress}}</strong>
            </p>
          </li>
        }
        <li class="my-2">
          <p>Día de entrega: <strong>{{pedidoReview.deliveryDay}}</strong></p>
        </li>
        <li class="my-2">
          <p>Horario de entrega: <strong>{{pedidoReview.deliveryTime}}</strong></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex mt-4 mb-8">
    <button
      (click)="sendMessage()"
      class="bg-[#25D366] text-white text-nowrap p-2 rounded-xl hover:bg-[#146c34]"
    >
      <div class="flex gap-4 items-center">
        <img
          src="../../../assets/whatsapp.webp"
          alt="whatsapp number"
          class="w-12"
          width="500px"
          height="500px"
        />
        <p class="pr-2 text-xl">Confirmar mi pedido</p>
      </div>
    </button>
  </div>
</div>
