@if(showModal){
  <div
    class="flex items-center justify-center h-screen mt-24"
    (click)="showModal = false"
  >
    <div>
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div
          class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="w-full inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all mt-28 align-middle max-w-lg sm:w-full"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-headline"
          >
            <!-- Location -->
            @if(modalType === ModalType.SCHEDULES){
              <div class="container mx-auto p-8">
                <h1 class="text-3xl font-bold mb-6 text-center">Nuestros dias y horarios</h1>
                <table class="min-w-full bg-white border border-gray-300">
                  <thead>
                    <tr>
                      <th class="py-2 px-4 border-b">Día</th>
                      <th class="py-2 px-4 border-b">Horario de Reparto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-2 px-4 border-b">Viernes</td>
                      <td class="py-2 px-4 border-b">15:00 - 18:00</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-4 border-b">Sábado</td>
                      <td class="py-2 px-4 border-b">15:00 - 18:00</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-4 border-b">Domingo</td>
                      <td class="py-2 px-4 border-b">15:00 - 18:00</td>
                    </tr>
                  </tbody>
                </table>
                <div class="flex items-center justify-center w-full my-4">
                  <button type="button" (click)="showModal = false" class="text-center bg-[#dbc997] w-full py-2 rounded-full">Cerrar</button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
