<div class="flex flex-col items-center">
  <h1 class="text-4xl font-semibold p-8 text-center">Dirección de envio</h1>
  <div
    class="bg-white shadow-md rounded max-w-5xl px-8 pt-6 pb-8 mx-8 mb-8 flex flex-col"
  >
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="items-center mt-2">
        <div class="w-full flex flex-col">
          <label class="font-semibold leading-none">Nombre</label>
          <input
            type="text"
            class="leading-none p-3 focus:outline-none mt-4 border rounded"
            [ngClass]="{
              'border-red-500': name?.invalid && (name?.dirty || name?.touched),
              'bg-gray-200': true
            }"
            formControlName="name"
          />
          @if(name?.invalid && (name?.dirty || name?.touched)){
            <div
              class="text-red-500 mt-2"
            >
              El nombre es requerido.
            </div>
          }
        </div>
      </div>
      <div class="md:flex items-center mt-4">
        <div class="w-full flex flex-col">
          <label class="font-semibold leading-none">Dirección </label>
          <input
            type="text"
            class="leading-none p-3 focus:outline-none mt-4 border rounded"
            [ngClass]="{
              'border-red-500': address?.invalid && (address?.dirty || address?.touched),
              'bg-gray-200': true
            }"
            formControlName="address"
          />
          @if(address?.invalid && (address?.dirty || address?.touched)){
            <div
              class="text-red-500 mt-2"
            >
              La dirección es requerida.
            </div>
          }
        </div>
      </div>
      <div>
        <div class="w-full flex flex-col mt-4">
          <label class="font-semibold leading-none"
            >Indicaciones adicionales de esta dirección (opcional)</label
          >
          <textarea
            type="text"
            class="h-40 text-base leading-none p-3 focus:outline-none mt-4 bg-gray-200 border-0 rounded"
            formControlName="aditionalInfoAddress"
          ></textarea>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row justify-between mt-4">
        <div class="flex items-center justify-center w-full my-4">
          <button type="submit" class="text-center bg-[#dbc997] w-full py-2 rounded-full"
          >
            Continuar compra
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
